// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$primary-color: #B8A164;
$background-color: #151515;

$white: #fff;
$black: #000;
$red: #EB5250;

//filter
$red-filter: invert(39%) sepia(81%) saturate(706%) hue-rotate(319deg) brightness(95%) contrast(94%);
$green-filter: invert(29%) sepia(66%) saturate(318%) hue-rotate(86deg) brightness(87%) contrast(82%);

//Margins
$margin-xs: 0.5rem;
$margin-sm: 1rem;
$margin-md: 2rem;
$margin-lg: 5rem;
$margin-xl: 7rem;

//Paddings
$padding-xs: 0.5rem;
$padding-sm: 1rem;
$padding-md: 2rem;
$padding-lg: 5rem;
$padding-xl: 7rem;

//Font-sizes
$font-size-xs: 0.5rem;
$font-size-sm: 1rem;
$font-size-base: 1.3rem;
$font-size-md: 1.8rem;
$font-size-lg: 3rem;
$font-size-xl: 5rem;

//width
$width-nav: 17vw;

//Border radius
$border-radius-sm: 10px;
$border-radius-md: 25px;
$border-radius-lg: 50px;

//Font-weight
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;

//Gap width
$gap-width: 1.5rem;

//box-shadow
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

//transition
$transition-slow: .5s all ease-in;
$transition-base: .3s all ease-in;
$transition-fast: .1s all ease-in;


.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  background-color: $background-color;
  scroll-behavior: smooth;
}

.footer {
  display: flex;
  flex: 1;
  padding: $padding-lg 0 $padding-md 0;
  justify-content: center;
  align-items: center;
  background-color: $background-color;
  color: $white;
  text-align: center;
}

.section {
  padding: $padding-md 0;
}

@media (min-width: 48rem){
  .section {
    padding: $padding-lg 0;
  }
}

.list {
  margin: 0;
  padding: 0;

  &Item {
    color: $white;
    list-style: none;
    position: relative;
    margin-left: $margin-md;
    margin-bottom: $margin-sm;

    &::before{
      content: "";
      position: absolute;
      background-color: $primary-color;
      height: 10px;
      width: 10px;
      top: $margin-sm;
      left: -$margin-md;
      border-radius: $border-radius-lg;
      transition: 0.3s all ease-in;
    }
  }
}

//Typography
.subtitle {
  font-size: $font-size-lg;
  color: $white;
  font-weight: $font-weight-extrabold;
  text-transform: uppercase;
}

.smalltitle {
  font-size: $font-size-md;
  color: $primary-color;
}

.primaryText {
  color: $primary-color;
}

.paragraph {
  color: $white;
  line-height: $line-height-base;
}

//Navigation
.nav {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  z-index: 5;
  height: 100vh;
  overflow-y: hidden;

  .navList {
    padding: 25px;
    position: absolute;
    top: 100px;
    left: 0;
    margin: 0;
    overflow-y: hidden;
  
    &Item {
      font-size: $font-size-md;
      font-weight: $font-weight-medium;
      list-style: none;
      margin-bottom: 20px;
      margin-left: $margin-md;
      display: flex;
      align-items: center;
      cursor: pointer;
      color: rgba($black, 0.6);

      &:hover {
        color: rgba($black, 1);

        &::before{
          content: "";
          position: absolute;
          background-color: $primary-color;
          height: 10px;
          width: 10px;
          top: $margin-sm;
          left: -$margin-md;
          border-radius: $border-radius-lg;
          transition: 0.3s all ease-in;
        }
    
      }
    }
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    background: #fff;  
  }

  .hamburger {
    outline: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 40px;
    right: 35px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: transparent; 
    z-index: 7; 
  }
}

@media (min-width: 60rem) {
  .nav {
    width: 40vw;
    
    .background {
      width: 40vw;
    }

    .hamburger {
      background-color: $white;
      svg {
        margin-top: 7px;
      }  
    }
  }
}


//Hero
.hero {
  height: 60vh;
  text-transform: uppercase;
  position: relative;

  .title {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 12rem;
    color: $white;
    text-align: center;
    line-height: $line-height-base;
    font-size: $font-size-md*2;
    font-weight: $font-weight-extrabold;
    z-index: 3;
    opacity: 0.7;
    transition: $transition-base;

    &:hover {
      opacity: 1;
    }
  }

  .scrollIcon {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 2rem;
    z-index: 1;
  }

  .heroImg {
    height: 60vh;
    position: relative;
    top: 2rem;
    left: 0;
    z-index: 1; 
    object-fit: cover;
    overflow: hidden;
  }
}

@media (min-width: 48rem) {
  .hero {  
    height: 80vh;

    .title {
      font-size: $font-size-xl;
      top: 20rem;
    }

    .heroImg {
      height: 60vh;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }  

    .scrollIcon {
      bottom: 1rem;
    }
  }  
}

@media (min-width: 60rem) {
  .hero {  
    height: 100vh;

    .title {
      font-size: $font-size-xl*2;
      top: 8rem;
    }

    .scrollIcon {
      bottom: 3rem;
    }

    .heroImg {
      height: 100vh;
    }
  }  
}

//About
.about {
  display: flex;
  flex-direction: column;
  padding-top: $padding-lg;
  
  &__img {
    .subtitle {
      margin-left: $margin-md;

      &:nth-of-type(2) {
        position: relative;
        margin-top: -$margin-md;
        z-index: 1;
      }
    }
  }

  &__text {
    color: $white;
    line-height: $line-height-base;
    //padding-top: $padding-lg;
  }
}

@media (min-width: 48rem) {
  .about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__img {
      width: 40%;

      .subtitle {
        margin-left: $margin-lg;
      }

      img {
        width: 100%;
      }
    }

    &__text {
      width: 45%;
      padding-right: 5%;
    }
  }
}

// Services
.services {
  padding: 0 $padding-md;
  display: flex;
  flex-direction: column-reverse;

  &__img {
    .hashtag {
      display: block;
      font-size: $font-size-md;
      text-transform: uppercase;
      position: relative;
      text-align: left;
      right: 0;
      margin-top: -$margin-sm;
      z-index: 1;
      color: $white;
    }
  }

  &__text {
    margin-bottom: $margin-md;
  }
}

@media (min-width: 48rem) {
  .services {  
    display: flex;
    flex-direction: row-reverse;

    &__img {
      width: 40%;
      overflow: hidden;
      margin-left: 10%;
    }
  
    &__text {
      width: 40%;
    }
  }
}

@media (min-width: 60rem) {
  .services {  
    padding: 0 $padding-lg;
  }
}

// Work
.work {
  padding: 0 $padding-md;
  display: flex;
  flex-direction: column;

  &__img {
  }

  &__text {
    margin-bottom: $margin-md;

    .list {
      &Item {
        font-size: $font-size-md;
      }
    }
  }
}

@media (min-width: 48rem) {
  .work {  
    display: flex;
    flex-direction: row;

    &__img {
      width: 60%;
      overflow: hidden;
      margin-right: 7%;
    }
  
    &__text {
      width: 30%;
      margin-top: $margin-lg*2;
    }
  }
}

@media (min-width: 60rem) {
  .work {  
    padding: 0 $padding-lg;
  }
}




//Elements
.dot {
  color: $primary-color;
  z-index: 2;
  position: relative;
}

.progressIcon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  z-index: 2;
}